[CREDENTIALS]
sharepoint_email=`your_email@example.com`
sharepoint_password=your_password

[PATH]
SHAREPOINT_LOCAL_DIR=`your_path_where_is_your_sharepoint_local_dir`

[DEBUG]
email=`your_debug_email@example.com`